body {
	background: url("images/outerspace_landscape.jpeg") no-repeat center center fixed; 
	background-size: cover;
	margin: 0;
}

nav {
	background-color: grey;
	position: relative;
	padding-left: 75px;
}

ul { 
	list-style-type: none; 
	margin: 0;
 }

li { 
 	display: inline-block;
 	color: black;
 	font-size: 12px;
 }

 li:after {
 	content: ' | ';
 }

a {
	display: inline-block;
	color: purple;
	font-family: sans-serif;
	text-decoration: none;
	padding: 25px 2px;
}

.logo {
	border-radius: 50%;
	border: 1px solid black;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.greenbox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 40%;
	border: dotted green 7px;
}
.spacecat, .spacedog {
	width: 200px;
	height: 200px;
	position: absolute;
}

.spacecat {
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
}

.spacedog {
	bottom: 0;
	right: 0;
	transform: translate(50%, 50%);
}

